{% extends 'index.html' %}

{% block content %}

<p>Add cards from csv file.</p>
<br>
{% if massages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
    {% endfor %}
{% else %}
    <form method="POST" action="data_upload" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="deck_id" value="{{deck_id}}" type="hidden">
        <label class="btn-warning" for="file_upload">Choose file to upload (CSV)</label>
        <input id="file_upload" type="file" name="file" accept=".csv" style="opacity:0;">
        <br>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
{% endif %}

<form method="post" action="add_card_form" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="deck_id" value="{{deck_id}}" type="hidden">
    <input name="question_text" placeholder="question"><br>
    <input name="answer_text" placeholder="answer"><br>
    <input name="association_text" placeholder="association"><br>
    <button class="btn btn-primary" type="submit">Add</button>
</form>
{% if messages %}
   {% for message in messages %}
   <div class={{ message.tags }}>{{ message }}</div>
   {% endfor %}
{% endif %}

<h1>Cards</h1>
<table class="table table-striped table-bordered table-sm" cellspacing="0">
    <thead>
        <tr>
            <th class="th-sm">Name</th>
        </tr>
    </thead>
    <tbody>

    {% for card in cards %}
        <tr>
            <td>
                <a class="btn btn-lg btn-danger" href="edit_card?q={{card.id}}">{{card.question_text}}</a>
            </td>
            <td><a class="btn btn-warning" href=delete_card/{{card.question_text}}>delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}