{% extends 'index.html' %}

{% block content %}

<h1>Cards</h1>
<table class="table table-striped table-bordered table-sm" cellspacing="0">
    <thead>
        <tr>
            <th class="th-sm">Name</th>
        </tr>
    </thead>
    <tbody>

    {% for card in deck %}
        <tr>
            <td>
                <a class="btn btn-lg btn-danger" href="http://localhost:8000/cards/cards?q={{deck.id}}">{{card.question_text}}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}