{% extends 'index.html' %}

{% block content %}


<h1>Decks</h1>

<form method="post" action="add_deck_form" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="name" placeholder="name">
    <button class="btn btn-primary" type="submit">Add</button>
</form>
{% if messages %}
   {% for message in messages %}
   <div class={{ message.tags }}>{{ message }}</div>
   {% endfor %}
{% endif %}
<table class="table table-striped table-bordered table-sm" cellspacing="0">
    <thead>
        <tr>
            <th class="th-sm">Name</th>
        </tr>
    </thead>
    <tbody>

    {% for deck in decks %}
        <tr>
            <td>
                <a class="btn btn-lg btn-danger" href="cards?q={{deck.id}}">{{deck.name}}</a>
            </td>
            <td><a class="btn btn-warning" href=delete_deck/{{deck.name}}>delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
