{% extends 'index.html' %}

{% block content %}


<h1>Decks</h1>

<form method="post" action="add_deck_form" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="name" placeholder="name">
    <button class="btn btn-primary" type="submit">Add</button>

</form>

<table class="table table-striped table-bordered table-sm" cellspacing="0">
    <thead>
        <tr>
            <th class="th-sm">Name</th>
        </tr>
    </thead>
    <tbody>

    {% for deck in decks %}
        <tr>
            <td>
                <a class="btn btn-lg btn-danger" href="http://localhost:8000/cards/cards?q={{deck.id}}">{{deck.name}}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
