{% extends 'index.html' %}

{% block content %}


<h1>Decks</h1>

<form method="post" action="add_deck_form" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="name" placeholder="name">
    <button class="btn btn-primary" type="submit">Add</button>
</form>
{% if messages %}
   {% for message in messages %}
   <div class={{ message.tags }}>{{ message }}</div>
   {% endfor %}
{% endif %}
<table class="table table-striped table-bordered table-sm" cellspacing="0">
    <thead>
        <tr>
            <th class="th-sm">Name</th>
            <th class="th-sm" colspan="7">Number cards to learn</th>
        </tr>
        <tr>
            <th class="th-sm"></th>
            <th class="th-sm">Today</th>
            <th class="th-sm">Tomorrow</th>
            <th class="th-sm">3 days later</th>
            <th class="th-sm">4 days later</th>
            <th class="th-sm">5 days later</th>
            <th class="th-sm">6 days later</th>
            <th class="th-sm">7 days later</th>
        </tr>
    </thead>
    <tbody>

    {% for deck in decks %}
        <tr>
            <td>
                <a class="btn btn-lg btn-danger" href="cards?q={{deck.id}}">{{deck.name}}</a>
            </td>
                {% for deck_name, cards_num in cards_to_remember.items %}
                    {% if deck_name == deck.name %}
                        {% for num in cards_num %}
                            <td>
                                {{num}}
                            </td>
                        {% endfor %}
                        {% if cards_num.0 > 0 %}
                            <td>
                                <a class="btn btn-lg btn-danger" href="log_card?q={{deck.id}}">learn</a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            <td><a class="btn btn-warning" href=delete_deck/{{deck.name}}>delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
